<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
        <div class="collapse navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <a class="btn navbutton" >Bio</a></button>
            <a class="btn navbutton" >My Work</a></button>
            <a class="btn navbutton" >Clients</a></button>
            <a class="btn navbutton" href="faq">FAQ</a></button>
        </ul>
      </div><!-- /.navbar-collapse -->
      
    </div>
</nav>