<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>eXcleeXceleXcel</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">

<!-- VENDOR SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'> <!-- font-family: 'Arvo', serif; -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'> <!-- font-family: 'Passion One', cursive; -->
<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'> <!-- font-family: 'Titillium Web', sans-serif; -->

<!-- APPLICATION SCRIPTS -->
<script src="js/app.js"></script>
