body { 
  padding-top: 50px;
};

#david {
  margin-right: 10px;
}

.navbutton {
  margin-top: 10px;
}

img {
  float: left;
  margin-right: 10px;
}

h2 {
  text-align: center;
}

.logos {
  max-height: 100px;
  margin: 5px;
}




