<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>

      <h2>Q&A: 20 Questions and Answers.</h2>
        <div class="question"> Q1: What makes you an Excel expert? </div>
        <div class="answer">A: I have more than 15 years of programming and developing complex Excel projects</div>
        <div class="question">Q2: I know how to do Excel, what makes you so special?</div>
        <div class="answer">A: When you have a large project, you must understand the structure of your data. Otherwise you risk getting wrong answers or never completing your project
        <div class="question">Q3: Excel seems so easy, why can’t I just learn as I go along?</div>
        A: You can and if you keep your projects inside your ability level, you’ll be fine. But many people eventually realize they have gone past that ability level. Sometimes when it is too late.</div>
        <div class="question">Q: What kinds of problems can I encounter on my own?</div>
        <div class="answer">A: If, when you fix one thing, something else goes wrong, and that keeps happening, it’s a sign that you haven’t understood the structure of your data</div>
        <div class="answer">A: If you find you are working 16 hours a day on your project, it’s a sign that you need to regroup and at least discuss your task with an expert.</div>
        <div class="question">Q3: I can develop my project in a small way and then grow it. Why do I need you?</div>
        <div class="answer">A: The short answer is that Excel is a kind of addiction. People with talent find they just do more and more and they can forget what their real task is.</div>
        <div class="answer">A: The longer answer is that when you can write macros and, behind the macros, programs in Microsoft Office’s Visual Basic for Applications (VBA), you can do very complex and fast calculations but you need to be able to program not just write formulas.</div>
        <div class="answer">A: The serious answer is that spreadsheets that grow tend to generate errors. We are all vulnerable. Getting the right answers is only half the work: not getting the wrong answers requires a different way of thinking. Accidents happen.</div>
        <div class="question">Q: Can you give me an example?</div>
        <div class="answer">A: A large retail chain. Data from their entire world operation existed in Oracle. The manager of my project needed to know certain information about each store in a certain state. I imported an Oracle database into Excel. There were 250,000 rows detailing every store in the world. Even worse, 90% of these rows contained zero information (literally “0”). My program collected the relevant 25,000 rows and then prepped them to produce the meaningful answers that the executives of</div>
        <div class="answer">A: I can give you many. Think about limits. Do you really want to send a bill for $0.
        <div class="answer">A: Catastrophic error: Two famous Harvard economists, Carmen
        Reinhart and Kenneth Rogoff , wrote an influential paper showing that economic growth declined when a countries debt level got too high. Unfortunately, one of their errors was that they had not selected the entire row when performing a certain calculation. They had selected only the first few columns. It happens.</div>
        <div class="question">Q: OK But all the same, what can you do that I can’t do?</div>
        <div class="answer">A: I can test your program and will almost certainly find errors that you haven’t thought about.</div>
        <div class="answer">A: I can present your work in ways that make you look good. A: I can automate processes so that the task can be delegated.</div>
        <div class="answer">A: I can connect Excel to the rest of your information world and have it automatically collect data from other software (e.g. your financial accounts, Oracle databases, many more).</div>
        <div class="question">Q: But I’m the only one who understands what I’m doing</div>
        <div class="answer">A: Think about it. That’s almost always a burden. You want to be able to share your work. You want to automate the processes you have created.</div>
        <div class="question">Q: Can’t I get someone in Asia to do this for $5 an hour?</div>
        <div class="answer">A: It only works on a large scale. Big companies use software factories abroad for cheap labor but they have teams of people here who supervise and who give detailed directions.</div>

    </div>       
  </main>

  <footer>
      <% include ../partials/footer %>
  </footer>
    
</body>
</html>