<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>David Jenkins</h1>
            <p>Excel Excellence</p>
        </div>

        <div class="container" id="bio">
            <h2>Bio</h2>
            <img id="david" src="../images/david.jpg">
            <p> 
                David Jenkins has a Master’s degree in Computer Science from Brunel University in England and a Bachelor’s degree in Mathematics from Manchester University.
                <br>
                <br>
                He programs and consults as an independent developer and has had clients in Europe and across the USA. His clients have included large retail stores, publishing houses, hospitals, research laboratories, and many smaller companies such as a refrigerated warehouse, a flourishing chiropractic practice and a vocational training company. He was written many accounting applications including billing, payroll, budgeting, asset management and more.
            </p>
        </div>

        <div id="myWork">
            <h2>My work</h2>
        </div>

        <div id="clients">
            <h2>Clients</h2>
            <div class="logos">
                
            </div>
        </div>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>