<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div id= "banner">
      <div class="container">
        <h1>David Jenkins</h1>
        <p>Excel Excellence</p>
      </div>
    </div>

    <div class="help-form container pull-right">
      <h4>I need help now!</h4>
      <form class="form-group" action="MAILTO:nwimmer123@yahoo.com" method="post" enctype="text/plain">
        <input class="form-control" type="text" placeholder="Name"><br>
        <input class="form-control" type="text" placeholder="Email"><br>
        <input class="form-control" type="text" placeholder="Comment"><br><br>
        <input class="btn btn-success pull-right" type="submit" value="Send">
      </form>
    </div>

    <div class="container">
      <!-- <div class="container"> -->
      <h3>I Deliver Consistent Excel Results</h3>
      <p>
          If you need a custom worksheet, Excel VBA programming or an advaced Excel databeasse, David Jenkins will meet your needs and exceed your expectations.
      </p>

      <h2>Bio</h2>
      <img id="david" src="../images/david.jpg">
      <p> 
        David Jenkins has a Master’s degree in Computer Science from Brunel University in England and a Bachelor’s degree in Mathematics from Manchester University.
        <br>
        <br>
        He programs and consults as an independent developer and has had clients in Europe and across the USA. His clients have included large retail stores, publishing houses, hospitals, research laboratories, and many smaller companies such as a refrigerated warehouse, a flourishing chiropractic practice and a vocational training company. He was written many accounting applications including billing, payroll, budgeting, asset management and more.
      </p>
    </div>

    <h2>Clients</h2>
    <div class="container">
      <div class="col-md-12">
         

        <div class="well">
            <div id="myCarousel" class="carousel slide">
                
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-3"><a href="#x"><img src="../images/bankW.png" alt="Image" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-3"><a href="#x"><img src="../images/cisco.png" alt="Image" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-3"><a href="#x"><img src="../images/EA.png" alt="Image" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-3"><a href="#x"><img src="../images/first-republic.jpeg" alt="Image" class="img-responsive"></a>
                    </div>
                  </div>
                </div>
                  <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="../images/gap.png" alt="Image" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="../images/kaiser.png" alt="Image" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="../images/monterey.png" alt="Image" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="../images/oakland.png" alt="Image" class="img-responsive"></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--/carousel-inner--> 
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
      </div>
    </div>

    <div id="contact">
      <h2>Contact</h2>
      <p>
    </div>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>